[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/nokedajunky
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nokedajunky
	label-Verified = -1..+1 group user/nokedajunky
	push = group user/nokedajunky
	read = group user/nokedajunky
	rebase = group user/nokedajunky
	removeReviewer = group user/nokedajunky
	submit = group user/nokedajunky
[access "refs/heads/*"]
	create = group user/nokedajunky
	push = +force group user/nokedajunky
	pushMerge = group user/nokedajunky
	read = group user/nokedajunky
[access "refs/tags/*"]
	push = group user/nokedajunky
	push = +force group user/nokedajunky
